<template>
  <v-container>
    <v-row class="loader-position" v-if="isLoading">
      <CircleLoader></CircleLoader>
    </v-row>

    <template v-if="!isLoading">
      <v-row>
        <v-col cols="12">
          <h1>Case Timeline: {{ caseData.title }}</h1>
        </v-col>
      </v-row>

      <v-divider></v-divider>

      <v-row>
        <v-col cols="12">
          <v-timeline>
            <v-timeline-item
              v-for="(item, idx) in this.eventData"
              :key="idx"
              large
            >
              <template v-slot:opposite>
                <span>{{ item.startTime }}</span>
              </template>

              <router-link class="card-link" :to="{ name: 'EventDetail', params: { eventID: item._id } }">
                <v-card class="mx-auto elevation-2">
                  <v-card-title class="primary">
                    <h2 class="display-1 white--text font-weight-light">
                      {{ item.title }}
                    </h2>
                  </v-card-title>
                  <v-spacer></v-spacer>
                  <v-card-subtitle>
                    <h3 class="font-weight-medium">
                      {{ item.activity }}
                    </h3>
                  </v-card-subtitle>
                  <v-card-text>
                    {{ item.description }}
                    <v-divider class="mt-4 mb-1"></v-divider>
                    Actors: {{ item.actor.length }} Evidence: {{ item.evidence.length }}
                  </v-card-text>
              </v-card>
              </router-link>
            </v-timeline-item>
          </v-timeline>
        </v-col>
      </v-row>

      <v-divider></v-divider>

      <v-row>
        <v-col>
          <v-btn
              @click="$router.go(-1)"
              class="mt-4"
              outlined
              color="primary"
          >Back to Case Details</v-btn>
        </v-col>
      </v-row>

    </template>

    <v-row v-if="debug">
      {{ tempOut }}
    </v-row>

  </v-container>
</template>

<script>
import {getCase, getSomeEvents} from '@/services/CFMService'
import CircleLoader from '@/components/CircleLoader'

export default {
  name: "CaseTimeline",
  components: {
    CircleLoader
  },
  props: ["caseID"],
  data: () => ({
    isLoading: true,
    debug: false,
    tempOut: undefined,
    eventInfo: undefined,
    eventData: undefined,
    caseData: undefined
  }),
  async created() {
    try {
      this.caseInfo = await getCase(this.caseID)
      // this.tempOut = this.caseInfo

      if (this.caseInfo.data.status !== 'success') {
        this.showSnackbar(
            {
              message: 'Error creating timeline, please try again later.',
              color: 'error'
            })
      } else {
        this.caseData = this.caseInfo.data.data.case
        let eventIDs = this.caseData.event
        // console.log('Event IDs: ', eventIDs)

        // Only populate the array of event ids from the caseData
        this.eventInfo = await getSomeEvents({ documentIDs: eventIDs })

        this.eventData = this.eventInfo.data.data.data
        this.tempOut = this.eventData

        // this.showSnackbar({message: 'Done loading.', color: 'success'})
      }

      this.isLoading = false
    } catch (err) {
      this.showSnackbar({
        message: err,
        color: 'error'
      })
    }
  },
  methods: {
    showSnackbar(payload) {
      this.$store.dispatch('showMessage', payload)
    }
  }
}
</script>

<style scoped>
.card-link {
  text-decoration: none;
}
</style>