<template>
  <v-container>
    <v-row class="loader-position" v-if="isLoading">
      <CircleLoader></CircleLoader>
    </v-row>
    <template v-if="!isLoading">
    <v-row>
      <v-col cols="12">
        <h1>Case Detail</h1>
      </v-col>
      <v-col cols="8">

        <div>
          <h3>
            Title
          </h3>
        </div>
        <div>
          <p>
          {{ this.caseData.title }}
          </p>
        </div>

        <div>
          <h3>
            Description
          </h3>
        </div>
        <div>
          <p>
          {{ this.caseData.description }}
          </p>
        </div>

        <div>
          <h3>
            Open Date
          </h3>
        </div>
        <div>
          <p>
            {{ this.caseData.openDate }}
          </p>
        </div>

        <div>
          <router-link :to="{ name: 'CaseTimeline', params: { caseID: caseID } }">
            <v-btn rounded elevation="4" color="blue lighten-1 white--text" class="mt-2">Timeline View</v-btn>
          </router-link>
        </div>
      </v-col>
    </v-row>

    <v-divider></v-divider>

      <v-row>
        <v-col>
        <h3>
          Linked Events
        </h3>
          <router-link v-if="loggedIn" :to="{ name: 'CreateEvent' }">
            <v-btn rounded elevation="4" color="blue lighten-1 white--text" class="mt-2">Create New Event</v-btn>
          </router-link>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="4" v-for="(ev, idx) in this.caseEvents" :key="idx">
          <router-link class="card-link" :to="{ name: 'EventDetail', params: { eventID: ev._id } }">
          <v-card min-height="200">
          <v-card-title class="primary white--text">
            {{ ev.title }}
          </v-card-title>

            <v-spacer></v-spacer>

          <v-card-subtitle>
              {{ ev.activity.toUpperCase() }}
          </v-card-subtitle>

          <v-card-text>
              {{ ev.description }}
          </v-card-text>
          </v-card>
          </router-link>

        </v-col>
      </v-row>
    </template>

    <v-row v-if="debug">
      <v-col>
      <p>{{`loggedIn? ${loggedIn}`}}</p>
      <p>{{ `Vuex CaseID: ${getCaseID}`}}</p>
      <p>{{ `Vuex EventID: ${getEventID}`}}</p>
      <p>{{ tempOut }}</p>
      </v-col>
    </v-row>

  </v-container>
</template>

<script>
import { getCase } from '@/services/CFMService'
import CircleLoader from '@/components/CircleLoader'
import { mapGetters } from 'vuex'

export default {
  name: "CaseDetail",
  components: {
    CircleLoader
  },
  props: ["caseID"],
  data: () => ({
    debug: false,
    caseInfo: undefined,
    isLoading: true,
    caseData: {},
    caseEvents: undefined,
    tempOut: undefined
  }),
  async created() {
    try {
      this.caseInfo = await getCase(this.caseID)
      this.tempOut = this.caseInfo

      if (this.caseInfo.data.status !== 'success') {
        this.showSnackbar(
            {
              message: 'Error reading Case Details, please try again later.',
              color: 'error'
            })
      } else {
        this.caseData = this.caseInfo.data.data.case
        this.caseEvents = this.caseInfo.data.data.events

        this.isLoading = false
      }
    } catch (err) {
      this.showSnackbar({
        message: err,
        color: 'error'
      })
    }

    // Use global prototype for debug flag
    this.debug = this.$debugInfo
  },
  async mounted() {
  },
  watch: {
    caseInfo: async function () {
      if (this.caseID !== this.getCaseID) {
        await this.$store.dispatch('clearCachedActors')
      }
      // Save current case id in Vuex so on creating an obj, we can return here
      await this.$store.commit('SET_CASE_ID', this.caseID)
    }
  },
  methods: {
    showSnackbar(payload) {
      this.$store.dispatch('showMessage', payload)
    }
  },
  computed: {
    ...mapGetters([
        'loggedIn',
        'getCaseID',
        'getEventID'
    ])
  }
}
</script>


<style scoped>
.card-link {
  text-decoration: none;
}
</style>