<template>
  <v-container class="fill-height">
    <v-row align="center" justify="center">
      <v-col
          cols="12"
          sm="8"
          md="4">
        <v-card class="elevation-12">
          <v-toolbar
              color="primary"
              dark
              flat
          >
            <v-toolbar-title>Create New Case</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form @submit.prevent="submitCase" ref="form" v-model="valid">
              <v-text-field
                  v-model="title"
                  :rules="titleRules"
                  label="Title"
                  required
                  counter="100"
                  prepend-icon="mdi-account"
                  outlined
              ></v-text-field>

              <v-textarea
                  v-model="description"
                  :rules="descRules"
                  label="Description"
                  required
                  counter="500"
                  prepend-icon="mdi-text-box"
                  outlined
              ></v-textarea>

<!--Date Picker -->
              <v-row class="ml-1">
              <v-menu :close-on-content-click="false">
                <template v-slot:activator="{ on }">
                  <v-text-field
                      v-on="on"
                      label="Date"
                      class="mt-2 mr-2"
                      v-model="datePicker"
                      required
                      outlined
                      readonly
                      prepend-icon="mdi-calendar-range"
                  ></v-text-field>
                </template>
                <v-date-picker :landscape="true" v-model="datePicker"></v-date-picker>
              </v-menu>
              </v-row>

<!--              Time Picker-->
              <v-row class="ml-1">
                <v-menu :close-on-content-click="false">
                  <template v-slot:activator="{ on }">
                    <v-text-field
                        v-on="on"
                        label="Time"
                        class="mt-2 mr-2"
                        v-model="timePicker"
                        required
                        outlined
                        readonly
                        prepend-icon="mdi-clock-outline"
                    ></v-text-field>
                  </template>
                  <v-time-picker :landscape="true" v-model="timePicker"></v-time-picker>
                </v-menu>
              </v-row>




              <v-divider></v-divider>
              <v-card-actions>
                <v-row class="mt-2">
                  <v-btn
                  @click="$router.go(-1)">
                    Back
                  </v-btn>

                  <v-spacer></v-spacer>

                  <v-btn
                      outlined
                      class="mr-2"
                      @click="$refs.form.reset()"
                  >
                    Clear
                  </v-btn>
                  <v-btn
                      :disabled="!valid"
                      color="info"
                      @click="submitCase"
                  >
                    Create Case
                  </v-btn>
                </v-row>
              </v-card-actions>

            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import * as CFMService from '@/services/CFMService'

export default {
name: "CreateCase",
  data: () => ({
    valid: true,
    title: "",
    titleRules: [
      v => !!v || 'Title is required.',
      v => (v || '').length <= 100 || 'Title may not exceed 100 characters.'
    ],
    description: "",
    descRules: [
      v => !!v || 'Description is required.',
        v => (v || '').length <= 500 || 'Description may not exceed 500 characters.'
    ],
    datePicker: "",
    timePicker: "",
    createStatus: undefined
  }),
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    async submitCase() {
      console.log('New Case submitted.')

      // Owner of case is set from logged in user
      let caseDetails = {
        title: this.title,
        description: this.description,
        openDate: this.mergeDateTime()
      }

      this.createStatus = await CFMService.createCase(caseDetails)

      if (this.createStatus.data.status !== 'success') {
        this.showSnackbar('Error creating new case, please try again later.')
      } else {
        try {
          await this.$router.push({
            name: 'CaseDetail',
            params: {caseID: this.createStatus.data.data.id}
          })
        } catch (e) {
          this.showSnackbar('Error accessing Case Details, please try again.')
        }
      }
    },
    mergeDateTime() {
      return new Date(this.datePicker + 'T' + this.timePicker)
    },
    showSnackbar(payload) {
      this.$store.dispatch('showMessage', payload)
    }
  }
}
</script>

<style scoped>

</style>