<template>
  <v-container class="fill-height">
    <v-row align="center" justify="center">
      <v-col
          cols="12"
          sm="8"
          md="4">
        <v-card class="elevation-12">
          <v-toolbar
              color="primary"
              dark
              flat
          >
            <v-toolbar-title>Create New Event</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form @submit.prevent="submitEvent" ref="form" v-model="valid">
              <v-select
                  v-model="selectedCase"
                label="Linked Case"
                required
                outlined
                :items="allCases"
                item-text="title"
                  item-value="_id"
                :value="caseTitles"
                prepend-icon="mdi-briefcase"
              ></v-select>

              <v-text-field
                  v-model="title"
                  :rules="titleRules"
                  label="Title"
                  required
                  counter="100"
                  prepend-icon="mdi-message-text"
                  outlined
              ></v-text-field>

              <v-text-field
                  v-model="activity"
                  :rules="activityRules"
                  label="Activity"
                  required
                  counter="25"
                  prepend-icon="mdi-text-box"
                  outlined
              ></v-text-field>

              <v-textarea
                  v-model="description"
                  :rules="descRules"
                  label="Description"
                  required
                  counter="500"
                  prepend-icon="mdi-text-box"
                  outlined
              ></v-textarea>

<!--              startTime-->
              <!--Date Picker -->
              <v-row class="ml-1">
                <v-menu :close-on-content-click="false">
                  <template v-slot:activator="{ on }">
                    <v-text-field
                        v-on="on"
                        label="Date"
                        class="mt-2 mr-2"
                        v-model="datePicker"
                        required
                        outlined
                        readonly
                        prepend-icon="mdi-calendar-range"
                    ></v-text-field>
                  </template>
                  <v-date-picker :landscape="true" v-model="datePicker"></v-date-picker>
                </v-menu>
              </v-row>

              <!--              Time Picker-->
              <v-row class="ml-1">
                <v-menu :close-on-content-click="false">
                  <template v-slot:activator="{ on }">
                    <v-text-field
                        v-on="on"
                        label="Time"
                        class="mt-2 mr-2"
                        v-model="timePicker"
                        required
                        outlined
                        readonly
                        prepend-icon="mdi-clock-outline"
                    ></v-text-field>
                  </template>
                  <v-time-picker :landscape="true" v-model="timePicker"></v-time-picker>
                </v-menu>
              </v-row>

<!--              Lat and Long-->
              <v-row>
                <v-col>
                  <v-text-field
                      v-model="latitude"
                      label="Latitude"
                      outlined
                      placeholder="00.0000"
                      :rules="latRules"
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field
                      v-model="longitude"
                      label="Longitude"
                      outlined
                      placeholder="00.0000"
                      :rules="longRules"
                  ></v-text-field>
                </v-col>
              </v-row>

<!--              <v-textarea-->
<!--                label="Actors"-->
<!--              ></v-textarea>-->

<!--              <v-textarea-->
<!--                label="Evidence"-->
<!--              ></v-textarea>-->

              <v-divider></v-divider>
              <v-card-actions>
                <v-row class="mt-2">
                  <v-btn
                    @click="$router.go(-1)">
                    Back
                  </v-btn>

                <v-spacer></v-spacer>

                  <v-btn
                      outlined
                      class="mr-2"
                      @click="$refs.form.reset()"
                  >
                    Clear
                  </v-btn>
                  <v-btn
                    :disabled="!valid"
                    color="info"
                    @click="submitEvent"
                >
                  Create Event
                </v-btn>
                </v-row>
              </v-card-actions>

            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="debug">
      <p>{{ this.allCases }}</p>
      <p>Selected Case {{ this.selectedCase }}</p>
      <p>{{ tempOut }}</p>
    </v-row>
  </v-container>
</template>

<script>
import { createEvent, getCases, updateCase } from '@/services/CFMService'
import { mapGetters } from 'vuex'

export default {
  name: "CreateEvent",
  data: () => ({
    isLoading: true,
    debug: false,
    valid: true,
    title: "",
    titleRules: [
      v => !!v || 'Title is required.',
      v => (v || '').length <= 100 || 'Title may not exceed 100 characters.'
    ],
    description: "",
    descRules: [
      v => !!v || 'Description is required.',
      v => (v || '').length <= 500 || 'Description may not exceed 500 characters.'
    ],
    activity: "",
    activityRules: [
      v => !!v || 'Activity is required.',
      v => (v || '').length <= 50 || 'Activity may not exceed 50 characters.'
    ],
    latitude: "",
    latRules: [
        v => (Number(v) <= 90 && Number(v) >= -90) || 'Invalid value'
    ],
    longitude: "",
    longRules: [
      v => (Number(v) <= 180 && Number(v) >= -180) || 'Invalid value'
    ],
    datePicker: "",
    timePicker: "",
    tempEvent: {},
    createStatus: undefined,
    caseTitles: [],
    allCases: undefined,
    selectedCase: undefined,
    tempOut: undefined,
    // caseID: undefined
  }),
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    async submitEvent() {
      let newEvent = {
        title: this.title,
        activity: this.activity,
        description: this.description,
        linkedCase: this.selectedCase
      }

      // Can't do a deep insert into JS object, so
      // 1. Create new object
      // 2. Extend into original
      if (this.latitude.length > 0 && this.longitude.length > 0) {
        // GeoJSON = (longitude, latitude)
        let coordEvent = { location: {
          coordinates: [
            this.longitude,
            this.latitude
          ]
          }
        }
        newEvent = {...newEvent, ...coordEvent}
      }

      if (this.datePicker.length > 0 && this.timePicker.length > 0) {
        newEvent.startTime = this.mergeDateTime()
      } else {
        newEvent.startTime = new Date().toISOString()
      }

      // this.tempOut = this.allCases
      this.tempOut = newEvent

      this.createStatus = await createEvent(newEvent)

      if (this.createStatus.data.status !== 'success') {
        this.showSnackbar('Error creating new event, please try again later.')
      } else {
        try {
          // Event can link to any case,
          // Set case id in vuex, so we can jump back when done
          this.$store.commit('SET_CASE_ID', this.selectedCase)

          // Link new event to parent Case entry in DB
          await updateCase(this.selectedCase, {
            doPush: true,
            pushField: "event",
            pushValue: this.createStatus.data.data.savedEvent._id
          })

          await this.$router.push({
            name: 'EventDetail',
            params: {eventID: this.createStatus.data.data.savedEvent._id}
          })
        } catch (e) {
          this.showSnackbar('Error accessing Event Details, please try again.')
        }
      }
    },
    mergeDateTime() {
      return new Date(this.datePicker + 'T' + this.timePicker)
    },
    showSnackbar(payload) {
      this.$store.dispatch('showMessage', payload)
    }
  },
  async created() {
    // populate Cases (title, _id)
    // On submit, link to that case on db.save
    this.allCases = await getCases("?fields=title,_id")
    this.allCases = this.allCases.data.data.data

    // populate actors
    // this.allActors = CFMService.getActors("fields=foreName,surName,_id")
    this.isLoading = false
    this.debug = this.$debugInfo
  },
  computed: {
    ...mapGetters({
      caseID: 'getCaseID'
    })
  }
}
</script>

<style scoped>

</style>