<template>
  <v-container>
    <v-row class="loader-position" v-show="isLoading">
      <CircleLoader></CircleLoader>
    </v-row>

    <v-row v-show="!isLoading">
      <v-col cols="8">
        <h1 class="mb-3">Event Detail</h1>
        <h3>
          Title
        </h3>
        <p>
          {{ this.eventData.title }}
        </p>

        <h3>
          Time of Event
        </h3>
        <p>
          {{ this.eventData.startTime }}
        </p>

        <h3>
          Activity
        </h3>
        <p>
          {{ this.eventData.activity }}
        </p>

        <h3>
          Description
        </h3>
        <p>
          {{ this.eventData.description }}
        </p>

        <v-divider class="my-4"></v-divider>
        <h3>
          Actors
        </h3>
        <v-row>
          <router-link v-if="loggedIn" :to="{ name: 'CreateActor', params: { eventID: eventID} }">
            <v-btn rounded elevation="4" color="blue lighten-1 white--text" class="mt-2">Create New Actor</v-btn>
          </router-link>
<!--          <v-select-->
<!--          v-model="addActors"-->
<!--          :items="this.getCaseActors"-->
<!--          :menu-props="{ maxHeight: '400' }"-->
<!--          label="Select Actor(s)"-->
<!--          multiple-->
<!--          ></v-select>-->
        </v-row>
        <v-row>
          <v-col cols="4" v-for="(actor, idx) in this.eventData.actor" :key="idx">
            <router-link class="card-link" :to="{ name: 'ActorDetail', params: { actorID: actor._id } }">
              <v-card min-height="175">
                <v-card-title>
                  {{ getName(actor) }}
                </v-card-title>

                <v-card-text>
                  <v-icon
                      v-if="!actor.photo || 0 === actor.photo.length"
                      x-large
                  >
                    mdi-account
                  </v-icon>
                  <v-avatar
                      v-else
                    color="primary"
                    size="100">
                    <v-img :src="`${$publicServer}img/actors/${actor.photo}`"></v-img>
                  </v-avatar>

                </v-card-text>
              </v-card>
            </router-link>
          </v-col>
        </v-row>

        <v-divider class="my-4"></v-divider>
        <h3 class="mt-4">
          Evidence
        </h3>
        <router-link v-if="loggedIn" :to="{ name: 'CreateEvidence', params: { eventID: eventID} }">
          <v-btn rounded elevation="4" color="blue lighten-1 white--text" class="mt-2">Add New Evidence</v-btn>
        </router-link>
        <v-row>
          <v-col cols="4" v-for="(evi, idx) in this.eventData.evidence" :key="idx">
            <router-link class="card-link" :to="{ name: 'EvidenceDetail', params: { eviID: evi._id } }">
              <v-card min-height="175">
                <v-card-title>
                  {{ evi.title }}
                </v-card-title>
                <v-card-subtitle>
                  {{ evi.category }}
                </v-card-subtitle>
                <v-card-text>
                  {{ evi.description }}
                </v-card-text>
              </v-card>
            </router-link>
          </v-col>
        </v-row>

        <p>
          {{ this.eventData.openDate }}
        </p>
      </v-col>
      <v-col cols="4">
        <h1 class="mb-3">
          Location
        </h1>
        <div class="map" id="map"></div>
      </v-col>
    </v-row>

    <v-divider></v-divider>

    <v-row>
      <v-col>
        <router-link
            v-if="this.parentCase"
            :to="{ name: 'CaseDetail', params: { caseID: this.parentCase} }">
        <v-btn
            class="mt-4"
            outlined
            color="primary"
        >Back to Case</v-btn>
        </router-link>
      </v-col>
    </v-row>

    <v-row v-if="debug">
      <v-col>
        <p>Vuex CaseID: {{ getCaseID }}</p>
        <p>Vuex EventID: {{ getEventID }}</p>
        <p>Linked CaseID: {{ this.eventData.linkedCase }}</p>
        <p>{{ eventInfo }}</p>
        <p>{{ this.getCaseActors }}</p>
      </v-col>
    </v-row>

  </v-container>
</template>

<script>
import { getEvent } from '@/services/CFMService'
import CircleLoader from '@/components/CircleLoader'
import leaflet from 'leaflet'
import {mapGetters} from 'vuex'

export default {
  name: "EventDetail",
  components: {
    CircleLoader
  },
  props: ["eventID"],
  data: () => ({
    debug: false,
    tempOut: undefined,
    eventInfo: null,
    isLoading: true,
    eventData: {},
    map: null,
    tileLayer: null,
    mapCoords: null,
    // Template renders before event is filled, so v-if on custom var
    parentCase: '',
    addActors: []
  }),
  async created() {
    try {
      this.eventInfo = await getEvent(this.eventID)
    } catch (err) {
      this.showSnackbar({
        message: err,
        color: 'error'
      })
    } finally {
      this.isLoading = false
    }

    // Use global prototype for debug flag
    this.debug = this.$debugInfo
    this.$store.commit('SET_EVENT_ID', this.eventID)
    this.parentCase = this.eventInfo.linkedCase
  },
  watch: {
    eventInfo: async function() {
      // GeoJSON is latitude first for some weird reason
      this.mapCoords = this.eventInfo.data.data.data.location.coordinates.reverse()
      this.eventData = this.eventInfo.data.data.data
      this.initMap()

      this.parentCase = this.eventData.linkedCase

      // actors cache in Vuex is empty, fill it
      if (this.updateActors) {
        // this.showSnackbar({message: 'Actors need update', color: 'primary'})
        await this.$store.dispatch('cacheActors', this.eventData.linkedCase)
      }
    }
  },
  async mounted() {
    // lifetime hooks are SYNCHRONOUS, getEvent API call returns AFTER mounted, error.
    // this.initMap()
  },
  methods: {
    initMap() {
      this.map = leaflet.map('map').setView(this.mapCoords, 12)

      this.tileLayer = leaflet.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        username: 'anonrob',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: process.env.VUE_APP_MAPBOX_KEY
      }).addTo(this.map)
    },
    getName( actorObj ) {
      if( actorObj.foreName && actorObj.surName ) {
        return actorObj.foreName + ' ' + actorObj.surName
      } else if( actorObj.foreName || actorObj.surName ) {
        return (actorObj.foreName+' '+actorObj.surName).replace(/\s+/g,"")
      } else if( actorObj.description ) {
        return actorObj.description
      } else {
        return 'unknown name'
      }
    },
    showSnackbar(payload) {
      this.$store.dispatch('showMessage', payload)
    }
  },
  computed: {
    ...mapGetters([
      'loggedIn',
      'getCaseID',
      'getEventID',
      'updateActors',
      'getCaseActors'
    ])
  }
}
</script>

<style scoped>
@import "~leaflet/dist/leaflet.css";
.map {
  height: 360px;
  width: 100%;
}

.card-link {
  text-decoration: none;
}
</style>