<template>
  <v-container class="fill-height">
    <v-row align="center" justify="center">
      <v-col
          cols="12"
          sm="8"
          md="4">
        <v-card class="elevation-12">
          <v-toolbar
              color="primary"
              dark
              flat
          >
            <v-toolbar-title>CFM Login</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form @submit.prevent="login" ref="form" v-model="valid">
              <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="Username"
                  required
                  prepend-icon="mdi-account"
                  outlined
              ></v-text-field>

              <v-text-field
                  :type="showPassword ? 'text' : 'password'"
                  v-model="password"
                  :rules="passwordRules"
                  label="Password"
                  required
                  prepend-icon="mdi-lock"
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword = !showPassword"
                  outlined
              ></v-text-field>
<v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    :disabled="!valid"
                    color="info"
                    class="mt-2"
                    @click="login"
                >
                  Login
                </v-btn>
              </v-card-actions>

            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "LoginUser",
  data: () => ({
    valid: true,
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    password: '',
    passwordRules: [
        v => !!v || 'Password is required.',
    ],
    showPassword: false,
    snackbar: false,
    snackText: ''
  }),

  methods: {
    validate() {
      this.$refs.form.validate()
    },
    login() {
      this.$store.dispatch('login', {
          email: this.email,
          password: this.password
        })
      .then((resp) => {
        if (resp) {
          this.showSnackbar({
            message: resp.data.message,
            color: 'error'})
          console.log('Error: 💥', resp.data.message)
        } else {
          // No error from axios:login
          this.$router.push({name: 'ShowCases'})
        }
      })
      .catch(err => {
        // only enter here on this dispatch throwing an error
        // TODO Display General Error Page**
        console.log(`Login Error: ${err.response}`)
      })
    },
    showSnackbar(payload) {
      this.$store.dispatch('showMessage', payload)
    }
  }
}
</script>

<style scoped>

</style>