<template>
  <v-container class="fill-height">
    <v-row align="center" justify="center">
      <v-col
          cols="12"
          sm="8"
          md="4">
        <v-card class="elevation-12">
          <v-toolbar
              color="primary"
              dark
              flat
          >
            <v-toolbar-title>CFM Register New User</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form @submit.prevent="signup" ref="form" v-model="valid">
              <v-text-field
                  v-model="name"
                  :rules="nameRules"
                  label="Name"
                  required
                  prepend-icon="mdi-account"
                  outlined
              ></v-text-field>

              <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="Email"
                  required
                  prepend-icon="mdi-email"
                  outlined
              ></v-text-field>

<!--              <v-file-input-->
<!--                  v-model="photo"-->
<!--                  class="mb-4"-->
<!--                  :rules="avatarRules"-->
<!--                  accept="image/png, image/jpeg, image/bmp"-->
<!--                  placeholder="Pick an avatar"-->
<!--                  prepend-icon="mdi-camera"-->
<!--                  label="Avatar"-->
<!--              ></v-file-input>-->

              <v-text-field
                  :type="showPassword ? 'text' : 'password'"
                  v-model="password"
                  :rules="passwordRules"
                  label="Password"
                  required
                  prepend-icon="mdi-lock"
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword = !showPassword"
                  outlined
              ></v-text-field>

              <v-text-field
                  :type="showPassword ? 'text' : 'password'"
                  v-model="passwordConfirm"
                  label="Password Confirm"
                  required
                  prepend-icon="mdi-lock"
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword = !showPassword"
                  outlined
              ></v-text-field>

              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <!--              <v-col class="text-right">-->
                <v-btn
                    :disabled="!valid"
                    color="info"
                    class="mt-2"
                    @click="signup"
                >
                  Register
                </v-btn>
                <!--              </v-col>-->
              </v-card-actions>

            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
name: "RegisterUser",
  data: () => ({
    valid: true,
    name: '',
    nameRules: [
        v => !!v || 'Name is required.'
    ],
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
    // photo: undefined,
    // avatarRules: [
    //   v => !v || v.size < 2000000 || 'Avatar size should be less than 2MB',
    // ],
    password: '',
    passwordConfirm: '',
    passwordRules: [
      v => !!v || 'Password is required.'
    ],
    showPassword: false,
    tempOutput: ''
  }),
  methods: {
    validate() {
      this.$refs.form.validate()
    },
    signup() {
      if (!this.doPasswordsMatch) {
        this.showSnackbar({
          message: 'Passwords do not match',
          color: 'error'
        })
        return
      }

      // this.$store.dispatch('signup', {
      //   name: this.name,
      //   email: this.email,
      //   password: this.password,
      //   passwordConfirm: this.passwordConfirm
      // })
      //     .then((resp) => {
      //       if (resp) {
      //         this.showSnackbar({
      //           message: resp.data.message,
      //           color: 'error'})
      //         console.log('Error: 💥', resp.data.message)
      //       } else {
      //         this.$router.push({name: 'ShowCases'})
      //       }
      //     })
      //     .catch(err => {
      //       // only enter here on this dispatch throwing an error
      //       // TODO Display General Error Page**
      //       console.log(`Login Error: ${err.response}`)
      //     })

      this.showSnackbar({message: 'Registration is currently closed.', color:'error'})
    },
    showSnackbar(payload) {
      this.$store.dispatch('showMessage', payload)
    }
  },
  mounted: function (){
    this.showSnackbar({message: 'Registration is currently closed.', color:'error'})
  },
  computed: {
    doPasswordsMatch() {
      return (this.password === this.passwordConfirm) || false
    }
  }
}
</script>

<style scoped>

</style>