<template>
  <v-container>

    <v-row>
      <v-col cols="8"></v-col>
      <v-col cols="4" class="d-flex justify-end">
        <router-link v-if="loggedIn" :to="{ name: 'CreateCase' }">
          <v-btn outlined color="light-blue">Create New Case</v-btn>
        </router-link>
      </v-col>
    </v-row>

    <section>
      <div class="loader-position" v-if="isLoading">
        <CircleLoader></CircleLoader>
      </div>

      <div v-else>
        <v-row>
          <v-col v-for="(cfmcase, idx) in allCases.data.data.data" :key="idx"
                 class="mx-auto"
                 max-width="400"
                 cols="12"
                 lg="3"
                 md="4"
          >

            <v-card>
              <v-img
                height="250"
                :src="`${$publicServer}img/cases/case_cover_${idx + 1}.jpg`"
                ></v-img>
              <v-card-title prepend-icon=“mdi-account-circle”>
                {{ cfmcase.title }}
              </v-card-title>
              <v-card-subtitle>
                {{ cfmcase.openDate }}
              </v-card-subtitle>
              <v-card-text>
                <div>{{ cfmcase.description }}</div>
              </v-card-text>
              <v-card-actions>
                <div class="ml-2 font-weight-medium">
                  {{ cfmcase.event.length }} Events
                </div>
                <v-spacer></v-spacer>
                <div class="mr-2">
                  <router-link class="card-link" :to="{ name: 'CaseDetail', params: { caseID: cfmcase._id } }">
                  <v-btn rounded color="blue lighten-1 white--text">
                  Case Details
                  </v-btn>
                  </router-link>
                </div>
              </v-card-actions>
            </v-card>

          </v-col>
        </v-row>
      </div>

    </section>

    <div v-show="debug">
      <p>{{ `loggedIn? ${loggedIn}` }}</p>
      {{ this.allCases }}
    </div>
  </v-container>
</template>

<script>
  import { getCases } from '@/services/CFMService'
  import CircleLoader from '@/components/CircleLoader'
  import { mapGetters } from 'vuex'

  export default {
    name: "ShowCases",
    components: {
      CircleLoader
    },
    data: () => ({
      allCases: undefined,
      isLoading: true,
      debug: false
    }),
    async created() {
      try {
        this.allCases = await getCases()
      } catch (err) {
        this.showSnackbar({
          message: err,
          color: 'error'
        })
      } finally {
        this.isLoading = false
      }

      // Use global prototype for debug flag
      this.debug = this.$debugInfo
    },
    methods: {
      showSnackbar(payload) {
        this.$store.dispatch('showMessage', payload)
      }
    },
    computed: {
      ...mapGetters([
          'loggedIn'
      ])
    }
  }
</script>

<style scoped>
.card-link {
  text-decoration: none;
}

</style>